### Fazendo leitura de um arquivo CSV da base da dados da empresa Olist encontrada na plataforma Kaggle, uma empresa de e-commerce brasileira.

In [1]:
# Importando a biblioteca Pandas do Python para manipulação de DataFrames
import pandas as pd

In [2]:
# Extraindo os dados de um arquivo .csv com informações de registro das vendas 
pedidos = pd.read_csv("olist_orders_dataset.csv", sep = ',')

In [3]:
pedidos

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00
1,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,delivered,2018-07-24 20:41:37,2018-07-26 03:24:27,2018-07-26 14:31:00,2018-08-07 15:27:45,2018-08-13 00:00:00
2,47770eb9100c2d0c44946d9cf07ec65d,41ce2a54c0b03bf3443c3d931a367089,delivered,2018-08-08 08:38:49,2018-08-08 08:55:23,2018-08-08 13:50:00,2018-08-17 18:06:29,2018-09-04 00:00:00
3,949d5b44dbf5de918fe9c16f97b45f8a,f88197465ea7920adcdbec7375364d82,delivered,2017-11-18 19:28:06,2017-11-18 19:45:59,2017-11-22 13:39:59,2017-12-02 00:28:42,2017-12-15 00:00:00
4,ad21c59c0840e6cb83a9ceb5573f8159,8ab97904e6daea8866dbdbc4fb7aad2c,delivered,2018-02-13 21:18:39,2018-02-13 22:20:29,2018-02-14 19:46:34,2018-02-16 18:17:02,2018-02-26 00:00:00
...,...,...,...,...,...,...,...,...
99436,9c5dedf39a927c1b2549525ed64a053c,39bd1228ee8140590ac3aca26f2dfe00,delivered,2017-03-09 09:54:05,2017-03-09 09:54:05,2017-03-10 11:18:03,2017-03-17 15:08:01,2017-03-28 00:00:00
99437,63943bddc261676b46f01ca7ac2f7bd8,1fca14ff2861355f6e5f14306ff977a7,delivered,2018-02-06 12:58:58,2018-02-06 13:10:37,2018-02-07 23:22:42,2018-02-28 17:37:56,2018-03-02 00:00:00
99438,83c1379a015df1e13d02aae0204711ab,1aa71eb042121263aafbe80c1b562c9c,delivered,2017-08-27 14:46:43,2017-08-27 15:04:16,2017-08-28 20:52:26,2017-09-21 11:24:17,2017-09-27 00:00:00
99439,11c177c8e97725db2631073c19f07b62,b331b74b18dc79bcdf6532d51e1637c1,delivered,2018-01-08 21:28:27,2018-01-08 21:36:21,2018-01-12 15:35:03,2018-01-25 23:32:54,2018-02-15 00:00:00
99440,66dea50a8b16d9b4dee7af250b4be1a5,edb027a75a1449115f6b43211ae02a24,delivered,2018-03-08 20:57:30,2018-03-09 11:20:28,2018-03-09 22:11:59,2018-03-16 13:08:30,2018-04-03 00:00:00

In [4]:
# Renomeando as colunas

pedidos = pedidos.rename(columns = {'order_id': "ID do Pedido", 'customer_id': 'Cliente ID', 'order_status': 'Status do pedido', \
                          'order_purchase_timestamp': 'Data/hora da compra', 'order_approved_at': 'Data/hora do pedido aprovado'\
                         , 'order_delivered_carrier_date': 'Data/hora do pedido entregue na transportadora', \
                         'order_delivered_customer_date': 'Data/hora de entrega do pedido', 'order_estimated_delivery_date' \
                         : 'Data/hora prevista da entrega'})

In [5]:
# Exibindo as 5 primeiras linhas do DataFrame

pedidos.head()

,ID do Pedido,Cliente ID,Status do pedido,Data/hora da compra,Data/hora do pedido aprovado,Data/hora do pedido entregue na transportadora,Data/hora de entrega do pedido,Data/hora prevista da entrega
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00
1,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,delivered,2018-07-24 20:41:37,2018-07-26 03:24:27,2018-07-26 14:31:00,2018-08-07 15:27:45,2018-08-13 00:00:00
2,47770eb9100c2d0c44946d9cf07ec65d,41ce2a54c0b03bf3443c3d931a367089,delivered,2018-08-08 08:38:49,2018-08-08 08:55:23,2018-08-08 13:50:00,2018-08-17 18:06:29,2018-09-04 00:00:00
3,949d5b44dbf5de918fe9c16f97b45f8a,f88197465ea7920adcdbec7375364d82,delivered,2017-11-18 19:28:06,2017-11-18 19:45:59,2017-11-22 13:39:59,2017-12-02 00:28:42,2017-12-15 00:00:00
4,ad21c59c0840e6cb83a9ceb5573f8159,8ab97904e6daea8866dbdbc4fb7aad2c,delivered,2018-02-13 21:18:39,2018-02-13 22:20:29,2018-02-14 19:46:34,2018-02-16 18:17:02,2018-02-26 00:00:00

In [6]:
# Modificando o status do pedido de "Delivered" para "Entregue"
pedidos['Status do pedido'] = pedidos['Status do pedido'].map({'delivered':'Entregue'})

In [7]:
pedidos.head()

,ID do Pedido,Cliente ID,Status do pedido,Data/hora da compra,Data/hora do pedido aprovado,Data/hora do pedido entregue na transportadora,Data/hora de entrega do pedido,Data/hora prevista da entrega
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,Entregue,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00
1,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,Entregue,2018-07-24 20:41:37,2018-07-26 03:24:27,2018-07-26 14:31:00,2018-08-07 15:27:45,2018-08-13 00:00:00
2,47770eb9100c2d0c44946d9cf07ec65d,41ce2a54c0b03bf3443c3d931a367089,Entregue,2018-08-08 08:38:49,2018-08-08 08:55:23,2018-08-08 13:50:00,2018-08-17 18:06:29,2018-09-04 00:00:00
3,949d5b44dbf5de918fe9c16f97b45f8a,f88197465ea7920adcdbec7375364d82,Entregue,2017-11-18 19:28:06,2017-11-18 19:45:59,2017-11-22 13:39:59,2017-12-02 00:28:42,2017-12-15 00:00:00
4,ad21c59c0840e6cb83a9ceb5573f8159,8ab97904e6daea8866dbdbc4fb7aad2c,Entregue,2018-02-13 21:18:39,2018-02-13 22:20:29,2018-02-14 19:46:34,2018-02-16 18:17:02,2018-02-26 00:00:00

In [8]:
# Lendo o arquivo .csv com os dados de registro das clientes 
clientes = pd.read_csv("olist_customers_dataset.csv", sep = ",")

In [9]:
clientes

,customer_id,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state
0,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,14409,franca,SP
1,18955e83d337fd6b2def6b18a428ac77,290c77bc529b7ac935b93aa66c333dc3,9790,sao bernardo do campo,SP
2,4e7b3e00288586ebd08712fdd0374a03,060e732b5b29e8181a18229c7b0b2b5e,1151,sao paulo,SP
3,b2b6027bc5c5109e529d4dc6358b12c3,259dac757896d24d7702b9acbbff3f3c,8775,mogi das cruzes,SP
4,4f2d8ab171c80ec8364f7c12e35b23ad,345ecd01c38d18a9036ed96c73b8d066,13056,campinas,SP
...,...,...,...,...,...
99436,17ddf5dd5d51696bb3d7c6291687be6f,1a29b476fee25c95fbafc67c5ac95cf8,3937,sao paulo,SP
99437,e7b71a9017aa05c9a7fd292d714858e8,d52a67c98be1cf6a5c84435bd38d095d,6764,taboao da serra,SP
99438,5e28dfe12db7fb50a4b2f691faecea5e,e9f50caf99f032f0bf3c55141f019d99,60115,fortaleza,CE
99439,56b18e2166679b8a959d72dd06da27f9,73c2643a0a458b49f58cea58833b192e,92120,canoas,RS
99440,274fa6071e5e17fe303b9748641082c8,84732c5050c01db9b23e19ba39899398,6703,cotia,SP

In [17]:
# Renomeando as colunas

clientes = clientes.rename(columns = {'ID do Cliente': "Cliente ID", 'customer_unique_id':'ID exclusivo do Cliente',\
                                     'customer_zip_code_prefix':'Prefixo do código postal do Cliente', \
                                     'customer_city':'Cidade do Cliente','customer_state': 'Estado do Cliente'})

In [18]:
clientes

,Cliente ID,ID exclusivo do Cliente,Prefixo do código postal do Cliente,Cidade do Cliente,Estado do Cliente
0,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,14409,franca,SP
1,18955e83d337fd6b2def6b18a428ac77,290c77bc529b7ac935b93aa66c333dc3,9790,sao bernardo do campo,SP
2,4e7b3e00288586ebd08712fdd0374a03,060e732b5b29e8181a18229c7b0b2b5e,1151,sao paulo,SP
3,b2b6027bc5c5109e529d4dc6358b12c3,259dac757896d24d7702b9acbbff3f3c,8775,mogi das cruzes,SP
4,4f2d8ab171c80ec8364f7c12e35b23ad,345ecd01c38d18a9036ed96c73b8d066,13056,campinas,SP
...,...,...,...,...,...
99436,17ddf5dd5d51696bb3d7c6291687be6f,1a29b476fee25c95fbafc67c5ac95cf8,3937,sao paulo,SP
99437,e7b71a9017aa05c9a7fd292d714858e8,d52a67c98be1cf6a5c84435bd38d095d,6764,taboao da serra,SP
99438,5e28dfe12db7fb50a4b2f691faecea5e,e9f50caf99f032f0bf3c55141f019d99,60115,fortaleza,CE
99439,56b18e2166679b8a959d72dd06da27f9,73c2643a0a458b49f58cea58833b192e,92120,canoas,RS
99440,274fa6071e5e17fe303b9748641082c8,84732c5050c01db9b23e19ba39899398,6703,cotia,SP

In [21]:
# Colocando as letras maiúsculas na coluna Cidade do Cliente
clientes['Cidade do Cliente'] = clientes['Cidade do Cliente'].str.upper()

In [22]:
clientes

,Cliente ID,ID exclusivo do Cliente,Prefixo do código postal do Cliente,Cidade do Cliente,Estado do Cliente
0,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,14409,FRANCA,SP
1,18955e83d337fd6b2def6b18a428ac77,290c77bc529b7ac935b93aa66c333dc3,9790,SAO BERNARDO DO CAMPO,SP
2,4e7b3e00288586ebd08712fdd0374a03,060e732b5b29e8181a18229c7b0b2b5e,1151,SAO PAULO,SP
3,b2b6027bc5c5109e529d4dc6358b12c3,259dac757896d24d7702b9acbbff3f3c,8775,MOGI DAS CRUZES,SP
4,4f2d8ab171c80ec8364f7c12e35b23ad,345ecd01c38d18a9036ed96c73b8d066,13056,CAMPINAS,SP
...,...,...,...,...,...
99436,17ddf5dd5d51696bb3d7c6291687be6f,1a29b476fee25c95fbafc67c5ac95cf8,3937,SAO PAULO,SP
99437,e7b71a9017aa05c9a7fd292d714858e8,d52a67c98be1cf6a5c84435bd38d095d,6764,TABOAO DA SERRA,SP
99438,5e28dfe12db7fb50a4b2f691faecea5e,e9f50caf99f032f0bf3c55141f019d99,60115,FORTALEZA,CE
99439,56b18e2166679b8a959d72dd06da27f9,73c2643a0a458b49f58cea58833b192e,92120,CANOAS,RS
99440,274fa6071e5e17fe303b9748641082c8,84732c5050c01db9b23e19ba39899398,6703,COTIA,SP

In [24]:
# Criando um novo DataFrame com o relatório final das vendas, fazendo join dos DataFrames "Pedidos" e "Clientes"
resumo_venda = pedidos.merge(clientes, how='inner', on='Cliente ID')

In [26]:
resumo_venda.head(10)

,ID do Pedido,Cliente ID,Status do pedido,Data/hora da compra,Data/hora do pedido aprovado,Data/hora do pedido entregue na transportadora,Data/hora de entrega do pedido,Data/hora prevista da entrega,ID exclusivo do Cliente,Prefixo do código postal do Cliente,Cidade do Cliente,Estado do Cliente
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,Entregue,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00,7c396fd4830fd04220f754e42b4e5bff,3149,SAO PAULO,SP
1,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,Entregue,2018-07-24 20:41:37,2018-07-26 03:24:27,2018-07-26 14:31:00,2018-08-07 15:27:45,2018-08-13 00:00:00,af07308b275d755c9edb36a90c618231,47813,BARREIRAS,BA
2,47770eb9100c2d0c44946d9cf07ec65d,41ce2a54c0b03bf3443c3d931a367089,Entregue,2018-08-08 08:38:49,2018-08-08 08:55:23,2018-08-08 13:50:00,2018-08-17 18:06:29,2018-09-04 00:00:00,3a653a41f6f9fc3d2a113cf8398680e8,75265,VIANOPOLIS,GO
3,949d5b44dbf5de918fe9c16f97b45f8a,f88197465ea7920adcdbec7375364d82,Entregue,2017-11-18 19:28:06,2017-11-18 19:45:59,2017-11-22 13:39:59,2017-12-02 00:28:42,2017-12-15 00:00:00,7c142cf63193a1473d2e66489a9ae977,59296,SAO GONCALO DO AMARANTE,RN
4,ad21c59c0840e6cb83a9ceb5573f8159,8ab97904e6daea8866dbdbc4fb7aad2c,Entregue,2018-02-13 21:18:39,2018-02-13 22:20:29,2018-02-14 19:46:34,2018-02-16 18:17:02,2018-02-26 00:00:00,72632f0f9dd73dfee390c9b22eb56dd6,9195,SANTO ANDRE,SP
5,a4591c265e18cb1dcee52889e2d8acc3,503740e9ca751ccdda7ba28e9ab8f608,Entregue,2017-07-09 21:57:05,2017-07-09 22:10:13,2017-07-11 14:58:04,2017-07-26 10:57:55,2017-08-01 00:00:00,80bb27c7c16e8f973207a5086ab329e2,86320,CONGONHINHAS,PR
6,136cce7faa42fdb2cefd53fdc79a6098,ed0271e0b7da060a393796590e7b737a,NaN,2017-04-11 12:22:08,2017-04-13 13:25:17,NaN,NaN,2017-05-09 00:00:00,36edbb3fb164b1f16485364b6fb04c73,98900,SANTA ROSA,RS
7,6514b8ad8028c9f2cc2374ded245783f,9bdf08b4b3b52b5526ff42d37d47f222,Entregue,2017-05-16 13:10:30,2017-05-16 13:22:11,2017-05-22 10:07:46,2017-05-26 12:55:51,2017-06-07 00:00:00,932afa1e708222e5821dac9cd5db4cae,26525,NILOPOLIS,RJ
8,76c6e866289321a7c93b82b54852dc33,f54a9f0e6b351c431402b8461ea51999,Entregue,2017-01-23 18:29:09,2017-01-25 02:50:47,2017-01-26 14:16:31,2017-02-02 14:08:10,2017-03-06 00:00:00,39382392765b6dc74812866ee5ee92a7,99655,FAXINALZINHO,RS
9,e69bfb5eb88e0ed6a785585b27e16dbf,31ad1d1b63eb9962463f764d4e6e0c9d,Entregue,2017-07-29 11:55:02,2017-07-29 12:05:32,2017-08-10 19:45:24,2017-08-16 17:14:30,2017-08-23 00:00:00,299905e3934e9e181bfb2e164dd4b4f8,18075,SOROCABA,SP

In [28]:
#Excluindo a coluna "Id Exclusivo do Cliente"
resumo_venda = resumo_venda.drop(columns=['ID exclusivo do Cliente'])

In [59]:
resumo_venda

,ID do Pedido,Cliente ID,Status do pedido,Data/hora da compra,Data/hora do pedido aprovado,Data/hora do pedido entregue na transportadora,Data/hora de entrega do pedido,Data/hora prevista da entrega,Prefixo do código postal do Cliente,Cidade do Cliente,Estado do Cliente
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,Entregue,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00,3149,SAO PAULO,SP
1,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,Entregue,2018-07-24 20:41:37,2018-07-26 03:24:27,2018-07-26 14:31:00,2018-08-07 15:27:45,2018-08-13 00:00:00,47813,BARREIRAS,BA
2,47770eb9100c2d0c44946d9cf07ec65d,41ce2a54c0b03bf3443c3d931a367089,Entregue,2018-08-08 08:38:49,2018-08-08 08:55:23,2018-08-08 13:50:00,2018-08-17 18:06:29,2018-09-04 00:00:00,75265,VIANOPOLIS,GO
3,949d5b44dbf5de918fe9c16f97b45f8a,f88197465ea7920adcdbec7375364d82,Entregue,2017-11-18 19:28:06,2017-11-18 19:45:59,2017-11-22 13:39:59,2017-12-02 00:28:42,2017-12-15 00:00:00,59296,SAO GONCALO DO AMARANTE,RN
4,ad21c59c0840e6cb83a9ceb5573f8159,8ab97904e6daea8866dbdbc4fb7aad2c,Entregue,2018-02-13 21:18:39,2018-02-13 22:20:29,2018-02-14 19:46:34,2018-02-16 18:17:02,2018-02-26 00:00:00,9195,SANTO ANDRE,SP
...,...,...,...,...,...,...,...,...,...,...,...
99436,9c5dedf39a927c1b2549525ed64a053c,39bd1228ee8140590ac3aca26f2dfe00,Entregue,2017-03-09 09:54:05,2017-03-09 09:54:05,2017-03-10 11:18:03,2017-03-17 15:08:01,2017-03-28 00:00:00,12209,SAO JOSE DOS CAMPOS,SP
99437,63943bddc261676b46f01ca7ac2f7bd8,1fca14ff2861355f6e5f14306ff977a7,Entregue,2018-02-06 12:58:58,2018-02-06 13:10:37,2018-02-07 23:22:42,2018-02-28 17:37:56,2018-03-02 00:00:00,11722,PRAIA GRANDE,SP
99438,83c1379a015df1e13d02aae0204711ab,1aa71eb042121263aafbe80c1b562c9c,Entregue,2017-08-27 14:46:43,2017-08-27 15:04:16,2017-08-28 20:52:26,2017-09-21 11:24:17,2017-09-27 00:00:00,45920,NOVA VICOSA,BA
99439,11c177c8e97725db2631073c19f07b62,b331b74b18dc79bcdf6532d51e1637c1,Entregue,2018-01-08 21:28:27,2018-01-08 21:36:21,2018-01-12 15:35:03,2018-01-25 23:32:54,2018-02-15 00:00:00,28685,JAPUIBA,RJ
99440,66dea50a8b16d9b4dee7af250b4be1a5,edb027a75a1449115f6b43211ae02a24,Entregue,2018-03-08 20:57:30,2018-03-09 11:20:28,2018-03-09 22:11:59,2018-03-16 13:08:30,2018-04-03 00:00:00,83750,LAPA,PR

In [82]:
# Convertendo o tipo das colunas com data e hora para datetime
resumo_venda['Data/hora da compra'] = pd.to_datetime(resumo_venda['Data/hora da compra'],\
                                                     format="%d-%m-%Y %H:%M:%S").dt.strftime('%d-%m-%Y %H:%M:%S')

In [ ]:
resumo_venda['Data/hora do pedido aprovado'] = pd.to_datetime(resumo_venda['Data/hora do pedido aprovado'],\
                                                              format="%Y-%m-%d %H:%M:%S").dt.strftime('%d-%m-%Y %H:%M:%S')

In [ ]:
resumo_venda['Data/hora do pedido entregue na transportadora'] = pd.to_datetime(resumo_venda['Data/hora do pedido entregue na transportadora'],\
                                                                                format="%Y-%m-%d %H:%M:%S").dt.strftime('%d-%m-%Y %H:%M:%S')

In [87]:
resumo_venda['Data/hora de entrega do pedido'] = pd.to_datetime(resumo_venda['Data/hora de entrega do pedido'],\
                                                                format="%Y-%m-%d %H:%M:%S").dt.strftime('%d-%m-%Y %H:%M:%S')

In [88]:
resumo_venda['Prefixo do código postal do Cliente'] = pd.to_datetime(resumo_venda['Prefixo do código postal do Cliente'],\
                                                                     format="%Y-%m-%d %H:%M:%S").dt.strftime('%d-%m-%Y %H:%M:%S')

In [89]:
resumo_venda['Data/hora prevista da entrega'] = pd.to_datetime(resumo_venda['Data/hora prevista da entrega'],\
                                                               format="%Y-%m-%d %H:%M:%S").dt.strftime('%d-%m-%Y %H:%M:%S')

In [90]:
resumo_venda

,ID do Pedido,Cliente ID,Status do pedido,Data/hora da compra,Data/hora do pedido aprovado,Data/hora do pedido entregue na transportadora,Data/hora de entrega do pedido,Data/hora prevista da entrega,Prefixo do código postal do Cliente,Cidade do Cliente,Estado do Cliente
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,Entregue,02-10-2017 10:56:33,02-10-2017 11:07:15,04-10-2017 19:55:00,10-10-2017 21:25:13,18-10-2017 00:00:00,01-01-1970 00:00:00,SAO PAULO,SP
1,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,Entregue,24-07-2018 20:41:37,26-07-2018 03:24:27,26-07-2018 14:31:00,07-08-2018 15:27:45,13-08-2018 00:00:00,01-01-1970 00:00:00,BARREIRAS,BA
2,47770eb9100c2d0c44946d9cf07ec65d,41ce2a54c0b03bf3443c3d931a367089,Entregue,08-08-2018 08:38:49,08-08-2018 08:55:23,08-08-2018 13:50:00,17-08-2018 18:06:29,04-09-2018 00:00:00,01-01-1970 00:00:00,VIANOPOLIS,GO
3,949d5b44dbf5de918fe9c16f97b45f8a,f88197465ea7920adcdbec7375364d82,Entregue,18-11-2017 19:28:06,18-11-2017 19:45:59,22-11-2017 13:39:59,02-12-2017 00:28:42,15-12-2017 00:00:00,01-01-1970 00:00:00,SAO GONCALO DO AMARANTE,RN
4,ad21c59c0840e6cb83a9ceb5573f8159,8ab97904e6daea8866dbdbc4fb7aad2c,Entregue,13-02-2018 21:18:39,13-02-2018 22:20:29,14-02-2018 19:46:34,16-02-2018 18:17:02,26-02-2018 00:00:00,01-01-1970 00:00:00,SANTO ANDRE,SP
...,...,...,...,...,...,...,...,...,...,...,...
99436,9c5dedf39a927c1b2549525ed64a053c,39bd1228ee8140590ac3aca26f2dfe00,Entregue,09-03-2017 09:54:05,09-03-2017 09:54:05,10-03-2017 11:18:03,17-03-2017 15:08:01,28-03-2017 00:00:00,01-01-1970 00:00:00,SAO JOSE DOS CAMPOS,SP
99437,63943bddc261676b46f01ca7ac2f7bd8,1fca14ff2861355f6e5f14306ff977a7,Entregue,06-02-2018 12:58:58,06-02-2018 13:10:37,07-02-2018 23:22:42,28-02-2018 17:37:56,02-03-2018 00:00:00,01-01-1970 00:00:00,PRAIA GRANDE,SP
99438,83c1379a015df1e13d02aae0204711ab,1aa71eb042121263aafbe80c1b562c9c,Entregue,27-08-2017 14:46:43,27-08-2017 15:04:16,28-08-2017 20:52:26,21-09-2017 11:24:17,27-09-2017 00:00:00,01-01-1970 00:00:00,NOVA VICOSA,BA
99439,11c177c8e97725db2631073c19f07b62,b331b74b18dc79bcdf6532d51e1637c1,Entregue,08-01-2018 21:28:27,08-01-2018 21:36:21,12-01-2018 15:35:03,25-01-2018 23:32:54,15-02-2018 00:00:00,01-01-1970 00:00:00,JAPUIBA,RJ
99440,66dea50a8b16d9b4dee7af250b4be1a5,edb027a75a1449115f6b43211ae02a24,Entregue,08-03-2018 20:57:30,09-03-2018 11:20:28,09-03-2018 22:11:59,16-03-2018 13:08:30,03-04-2018 00:00:00,01-01-1970 00:00:00,LAPA,PR

In [91]:
# Fazendo a exportação do DataFrame para um arquivo do Excel
resumo_venda.to_excel('resumo_venda.xlsx', sheet_name = 'Resumo_vendas_Olist', index = 'False')